hr {
    background-color:#000000;
    border-width:0;
    color:#000000;
    height:2px;
    line-height:0;
    text-align:left;
    width:75%;
    margin-top: 2rem;
}

.entry {
    margin: 40px;
    overflow: auto;
}